* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    /* background-color: yellow; */
    overflow: hidden; /* prevent entire page from scrolling */
}
#container {
    height: 100%;
    border: 2px solid purple;
    display: grid;
    grid-template-columns: 300px 1fr;
}
.sidebar { /* my .left-column */
    background-color: yellow;
    padding: 20px;
    height: 100vh;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.sidebar-header {
    background-color: rgb(230, 230, 230);
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.sidebar-header p {
    font-size: 20px;
}
.new-project-btn-small {
    padding: 5px 20px;
    border-radius: 10px;
}

.sidebar-main {
    background-color: pink;
    flex-grow: 1;
    overflow-y: auto;
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.project-list {
    flex-grow: 1;
    overflow-y: auto;
    border: 3px solid red;
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.project-btn, .new-project-btn-large {
    border: 3px solid blue;
    height: 50px;
    width: 100%;
    flex-shrink: 0;
}
.sidebar-footer {
    background-color: cyan;
    height: 20px;
}
.right-wrapper {
    background-color: green;
    overflow: hidden;
}
.todo-columns {
    display: flex;
    gap: 20px;
    padding: 20px;
    overflow-x: auto;
    width: 100%;
    height: 100%;
    background-color: blue;
    
}
.todo-column {
    height: 100vh;
    width: 300px;
    background-color: orange;
    flex-shrink: 0;
    display: flex;
    flex-direction: column;
    /* overflow: hidden; */
}
.todo-column-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 3px solid pink;
    margin-bottom: 5px;
}
.todo-column-header > p {
    font-size: 18px;
}
.new-todo-btn-small {
    padding: 2px 10px;
    border-radius: 10px;
}

.todo-item-container {
    border: 3px solid red;
    display: flex;
    flex-direction: column;
    overflow-y: auto;
    flex-grow: 1;
    gap: 20px;

}
.todo-item, .new-todo-btn-large {
    border: 3px solid purple;
    flex-shrink: 0;
    height: 70px;
}